/*
layout/footer
*/
.l-footer {
  text-align: center;
  margin-top: 24px;

  &__hr {
    width: 95%;
  }

  &__text {
    font: {
      family: $garamond;
      weight: 500;
    }
    @include fs(24);
    margin: 10px 0 24px 0;

    @include sp {
      @include fs(16);
    }
  }
}
