<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio-Akahoshi Ayane</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/style/app.css">
	<link rel="stylesheet" href="https://use.typekit.net/cir3xek.css">
	
	<!-- Java -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	
	<!-- font -->
	<script>
		(function(d) {
			var config = {
				kitId: 'fpb7ebr',
				scriptTimeout: 3000,
				async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})(document);
	</script>
	
	<!-- OGP -->
	<meta property="og:url" content="https://www.hoshiportfolio.jp"/>
	<meta property="og:type" content="webp-site"/>
	<meta property="og:title" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:description" content="赤星彩音のポートフォリオ"/>
	<meta property="og:p-site_name" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:image" content="https://www.hoshiportfolio.jp/img/portfolio.png"/>
	
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:p-site" content="@58Orionis_11"/>
	
</head>

<body id="cheesecake_more" class="cheesecake_more">
	<header id="header" class="l-header">
		<div class="l-header__inner">
			<h1 class="l-header__title">
				<a class="l-header__title__link" href="index.html">
					<figure id="logo" class="l-header__title__logo1"></figure>
					<figure id="logo2" class="l-header__title__logo2"></figure>
				</a>
			</h1>
			<nav class="l-nav">
				<a class="l-nav__link" href="index.html#products">Products</a>
				<a class="l-nav__link" href="profile.html">Profile</a>
				<a class="l-nav__link c-icon twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
				<a class="l-nav__link c-icon insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
			</nav>
		</div>
		<hr class="l-header__hr c-hr">
	</header>
    
	<!-- ここから sp　nav -->
	<figure class="l-spbutton">
		<span></span>
		<span></span>
		<span></span>
	</figure>
	
	<nav class="l-spnav">
		<a class="l-spnav__link" href="index.html">Top</a>
		<a class="l-spnav__link" href="index.html#products">Products</a>
		<a class="l-spnav__link" href="profile.html">Profile</a>
		<a class="l-spnav__link twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure>Twitter</p></a>
		<a class="l-spnav__link insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure><p>Instagram</p></a>
	</nav>
	<!-- sp　nav 終わり-->

    <div class="c-heading">
        <h2 class="c-heading__title">Process<span class="c-heading__title__subtitle">製作過程</span></h2>
    </div>

    <section id="composition" class="composition">
        <h3 class="c-heading__sub">概要・企画</h3>
        <table class="composition_table">
            <tr class="composition_table_line">
                <th class="composition_table_line_cat">商品</th>
                <td class="composition_table_line_cont"><span>太陽のチーズケーキ</span>
                    <span>沖縄県石垣島産パイナップルを使用したチーズケーキ</span>
                    <a href="https://www.makuake.com/project/ishigaki_cake/" target="_blank" rel="noopener noreferrer">※外部サイトに飛びます</a></td>
            </tr>
            <tr class="composition_table_line">
                <th class="composition_table_line_cat">種類</th>
                <td class="composition_table_line_cont">新商品のランディングページ（架空）</td>
            </tr>
            <tr class="composition_table_line">
                <th class="composition_table_line_cat">サイト製作目的</th>
                <td class="composition_table_line_cont"><span>商品の認知度を上げたい。</span><span>売り上げアップを目指したい。</span></td>
            </tr>
            <tr class="composition_table_line">
                <th class="composition_table_line_cat">ターゲット</th>
                <td class="composition_table_line_cont"><span>製作者のこだわりに共感してくれる人</span><span>20代〜お菓子好きでお取り寄せをよくする男女</span></td>
            </tr>
            <tr class="composition_table_line">
                <th class="composition_table_line_cat">デザインの意図</th>
                <td class="composition_table_line_cont">
                    <span>ブランドコンセプトやイメージが伝わる、おしゃれでスタイリッシュなデザインにする。</span>
                    <span>お菓子の美味しさが伝わるように画像を大きく使い商品を訴求。</span>
                    <span>パイナップルの甘酸っぱさが伝わるように写真のコントラストを強め、色使いを工夫する。</span>
                    <span>購入サイトへの動線を考慮</span>
                </td>
            </tr>
        </table>
    </section>

    <section id="fix" class="fix">
        <h3 class="c-heading__sub">修正</h3>
        <figure class="fix_figure">
            <img src="img/cheesecake-ingenuity2.png" class="fix_figure_pic">
        </figure>
    </section>

    <section id="basis" class="basis">
        <h3 class="c-heading__sub">デザインの意図</h3>
        <figure class="basis_figure">
            <img src="img/cheesecake-ingenuity.png" class="basis_figure_pic">
        </figure>
    </section>
    
    <footer id="footer" class="l-footer">
        <hr class="l-footer__hr hr">
        <p class="l-footer__text">©︎Akahosi Ayane all rights reserved.</p>
    </footer>

<script src="/assets/js/app.js"></script>
</body>
</html>