<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio-Akahoshi Ayane</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/style/app.css">
	
	<!-- font -->
	<script>
		(function(d) {
			var config = {
				kitId: 'fpb7ebr',
				scriptTimeout: 3000,
				async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})(document);
	</script>
	
	<!-- OGP -->
	<meta property="og:url" content="https://www.hoshiportfolio.jp"/>
	<meta property="og:type" content="webp-site"/>
	<meta property="og:title" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:description" content="赤星彩音のポートフォリオ"/>
	<meta property="og:p-site_name" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:image" content="https://www.hoshiportfolio.jp/img/portfolio.png"/>
	
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:p-site" content="@58Orionis_11"/>
	
</head>

<body class="index">
	<section id="p-intro">
		<figure id="transition"><p id="transition_logo"></p></figure>
		<figure class="p-intro__image"></figure>
	</section>
	
	<section id="top" class="p-top">
		
		<figure class="p-top__image"></figure>
		
		<header id="header" class="l-header">
			<!-- pc topでのみ大きく表示されるロゴ-->
			<h1 class="l-header__main-title">
				<a class="l-header__main-title__link" href="#top">
					<figure id="logo" class="l-header__main-title__logo1"></figure>
					<figure id="logo2" class="l-header__main-title__logo2"></figure>
				</a>
			</h1>
			<nav class="l-nav">
				<a class="l-nav__link" href="#products">Products</a>
				<a class="l-nav__link" href="profile.html">Profile</a>
				<a class="l-nav__link c-icon twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
				<a class="l-nav__link c-icon insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
			</nav>
			<hr class="l-header__hr c-hr">
		</header>
		
		<!-- ここから sp　nav -->
		<figure class="l-spbutton">
			<span></span>
			<span></span>
			<span></span>
		</figure>
		
		<nav class="l-spnav">
			<a class="l-spnav__link" href="#top">Top</a>
			<a class="l-spnav__link" href="#products">Products</a>
			<a class="l-spnav__link" href="profile.html">Profile</a>
			<a class="l-spnav__link twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure>Twitter</p></a>
			<a class="l-spnav__link insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure><p>Instagram</p></a>
		</nav>
		<!-- sp　nav 終わり-->
		
		<!--スクロールアニメ-->
		<div class="p-scroll">
			<p class="p-scroll__text"></p>
			<div class="p-scroll__down"></div>
		</div>
	</section>
	
	<main class="l-main">
		<section id="products" class="p-products">
			<div class="p-products__innner">
				<div class="p-products__new-contents new-contents">
					<figure class="p-products__new-contents__image"><img src="/assets/image/mynavi01.png"></figure>
					<div class="c-heading">
						<h2 class="c-heading__title">Products</h2>
						<p class="c-heading__detail">半年の学習のまとめと、現在の職場での案件のまとめです。</p>
						<p class="c-heading__class"><span>Work … 実務</span><span>Study record … 学習のまとめ</span></p>
					</div>
				</div>
				<ul class="p-products__contents__wrap">
					<li class="p-products__contents p-products__contents1">
						<a class="p-products__contents__link" href="#banner">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents1__image c-zoom__image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Study record</div>
								<dt class="p-products__contents__title">Fictitious Banner</dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text">学習開始初期から、100以上の架空バナーを製作してきました。クラウドファンデイングサイトの商品やクラウドソーシングの案件をもとに作成した架空バナーがメインです。</dd>
							</dl>
						</a>
					</li>
					<li class="p-products__contents contents2">
						<a class="p-products__contents__link" href="#site1__no1">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents2__image c-zoom__image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Study record</div>
								<dt class="p-products__contents__title">Fictitious Webp-site<p class="p-products__contents__p">01-太陽のチーズケーキ</p></dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text"><span>商品サイト</span><span>食品・スイーツ</span><span>製作期間2021/8/7〜2021/8/21（添削2回、修正2回含む）</span></dd>
							</dl>
						</a>
					</li>
					<li class="p-products__contents contents3">
						<a class="p-products__contents__link" href="#site__no2">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents3__image c-zoom__image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Study record</div>
								<dt class="p-products__contents__title">Fictitious Webp-site<p class="p-products__contents__p">02-こばやす農園</p></dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text"><span>コーポレートサイト</span><span>農園</span><span>製作期間2021/8/25〜2021/9/28（添削2回、修正2回含む）</span></dd>
							</dl>
						</a>
					</li>
					<li class="p-products__contents contents4">
						<a class="p-products__contents__link" href="#site__no3">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents4__image c-zoom_image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Work</div>
								<dt class="p-products__contents__title">LP Design<p class="p-products__contents__p">マイナビ転職</p></dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text"><span>LPデザイン</span><span>製作期間2022/3/10〜2022/3/14（3営業日）</span></dd>
							</dl>
						</a>
					</li>
					<li class="p-products__contents contents5">
						<a class="p-products__contents__link" href="#site__no4">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents5__image c-zoom_image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Work</div>
								<dt class="p-products__contents__title">LP Design<p class="p-products__contents__p">マイナビ転職</p></dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text"><span>LPデザイン</span><span>製作期間2022/3/16〜2022/3/22（4営業日）</span></dd>
							</dl>
						</a>
					</li>
					<li class="p-products__contents contents6">
						<a class="p-products__contents__link" href="#site__no5">
							<div class="p-products__contents__frame c-zoom"><figure class="p-products__contents__image p-products__contents6__image c-zoom_image"></figure></div>
							<dl class="p-products__contents__dl">
								<div class="p-products__contents__category">Work</div>
								<dt class="p-products__contents__title">LP Design<p class="p-products__contents__p">アウトソーシングサイト</p></dt>
								<hr class="p-products__contents__hr hr"></hr>
								<dd class="p-products__contents__text"><span>LPデザイン</span><span>製作期間2022/3/24〜2022/3/29（4営業日）</span></dd>
							</dl>
						</a>
					</li>
				</ul>
			</div>
			<hr class="c-separation hr">
		</section>
		
		<section id="banner" class="p-banner">
			<div class="c-heading">
				<h2 class="c-heading__title">Fictitious Banner</h2>
				<p class="c-heading__detail"><span>クラウドファンディングサイトに掲載されている実際の商品をバナー化する練習、クラウドソーシングサイトの過去の依頼内容からバナー作成を行う練習等をしています。ギャラリーサイトのバナーを参考にデザインを考え、素材はフリー素材やAdobe stockの素材を加工・使用しています。</span><span>出稿媒体、ターゲット、訴求ポイント毎に、効果的なバナーのバリエーションを考える練習もしています。</span><span>※日付は降順です。（一番上のバナーが最新のものになります。）</span></p>
			</div>
			
			<ul class="p-banner__lists">
				<li class="p-banner__list bannar1"><a class="p-banner__link js_modal_open" href="" data-target="modal01"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar2"><a class="p-banner__link js_modal_open" href="" data-target="modal02"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></figure></a></li>
				<li class="p-banner__list bannar3"><a class="p-banner__link js_modal_open" href="" data-target="modal03"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar4"><a class="p-banner__link js_modal_open" href="" data-target="modal04"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar5"><a class="p-banner__link js_modal_open" href="" data-target="modal05"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar6"><a class="p-banner__link js_modal_open" href="" data-target="modal06"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar7"><a class="p-banner__link js_modal_open" href="" data-target="modal07"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar8"><a class="p-banner__link js_modal_open" href="" data-target="modal08"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar9"><a class="p-banner__link js_modal_open" href="" data-target="modal09"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar10"><a class="p-banner__link js_modal_open" href="" data-target="modal10"><div class="p-banner__flame-long c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar11"><a class="p-banner__link js_modal_open" href="" data-target="modal11"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar12"><a class="p-banner__link js_modal_open" href="" data-target="modal12"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar13"><a class="p-banner__link js_modal_open" href="" data-target="modal13"><div class="p-banner__flame c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar14"><a class="p-banner__link js_modal_open" href="" data-target="modal14"><div class="p-banner__flame-square c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar15"><a class="p-banner__link js_modal_open" href="" data-target="modal15"><div class="p-banner__flame-square c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
				<li class="p-banner__list bannar16"><a class="p-banner__link js_modal_open" href="" data-target="modal16"><div class="p-banner__flame-long c-zoom"><figure class="p-banner__image c-zoom_pic"></figure></div>MORE<span>>></span></a></li>
			</ul>
			
			<hr class="c-separation hr">
			
			<div id="modal01" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href=" ">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar1_modal_img" src="/assets/image/banner14-2@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">化粧品（美容液）のバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/5/21　製作時間： 4時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal02" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar2_modal_img" src="/assets/image/banner18@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">淡路島産レモン使用レモンタルトのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/6/3　製作時間： 4時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal03" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar3_modal_img" src="/assets/image/banner21-2@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">汗じみ予防Tシャツのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/6/4　製作時間： 3時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal04" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar4_modal_img" src="/assets/image/banner31@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">爽快感がポイントのメンズシャンプーのバナー【クール＆ボタニカル】</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/6/24　製作時間： 2時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal05" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar5_modal_img" src="/assets/image/banner44@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">ピスタチオアイスのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/6/29　製作時間： 3時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal06" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar6_modal_img" src="/assets/image/banner48@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">コーヒーショップと和菓子店のコラボ商品「コーヒーゼリーようかん」のバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/6/4　製作時間： 2時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal07" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar7_modal_img" src="/assets/image/banner50@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">アルパカ毛製品が主力のアパレルブランドのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/9　製作時間： 2時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal08" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar8_modal_img" src="/assets/image/banner51@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">アルパカ毛製品が主力のアパレルブランドのバナー【その２】</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/9　製作時間： 1時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal09" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar9_modal_img" src="/assets/image/banner52@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">宝石デザインの傘のバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/9　製作時間： 2時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal10" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar10_modal_img" src="/assets/image/banner53-2@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">宝石デザインの傘のバナー【その２】</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/9　製作時間： 1時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal11" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar11_modal_img" src="/assets/image/banner54@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">石垣島産パイナップルを使用したチーズケーキのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/26　製作時間： 1時間程</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal12" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar12_modal_img" src="/assets/image/banner56@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">沖縄産クラフトコーラのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/26　製作時間： 2時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal13" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar13_modal_img" src="/assets/image/banner57@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">沖縄産クラフトコーラのバナー【その2】</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/7/26　製作時間： 1時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal14" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar14_modal_img" src="/assets/image/banner65@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">美容外科の医療脱毛キャンペーンのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/11/16　製作時間： 1時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal15" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar15_modal_img" src="/assets/image/banner69@2x.png">
						<figcaption class="js_modal_content_figure_caption">
							<p class="js_modal_content_figure_caption_category">Fictitious Banner</p>
							<p class="js_modal_content_figure_caption_title">化粧品キャンペーンのバナー</p>
							<hr class="js_modal_content_figure_caption_hr hr">
							<p class="js_modal_content_figure_caption__detail">作成日：2021/11/23　製作時間： 1時間程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<div id="modal16" class="js_modal">
				<div class="js_modal_bg js_modal_close"></div>
				<div class="js_modal_content">
					<a class="js_modal_content_a js-modal-close" href="">&times;</a>
					<figure class="js_modal_content_figure">
						<img class="js_modal_content_figure_img bannar16_modal_img" src="/assets/image/banner70modal.png">
						<figcaption class="js_modal_content_figure_caption modal16_caption">
							<p class="js_modal_content_figure_caption__detail">作成日：2022/1/30　製作時間： 1時間半程度</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</section>
		
		<section id="p-site" class="p-site">
			<div class="c-heading">
				<h2 class="c-heading__title">Website</h2>
				<p class="c-heading__class">
					<span>Work...現在の職場で制作したものです。　Study record...学習の記録です。</span>クラウドファンディングサイトに掲載されている実際の商品をサイト化する練習、note（https://note.com/）で購入した仕様書をもとにサイト製作をする練習をしています。素材はフリー素材やAdobe stockの素材を加工・使用しています。</p>
			</div>
				
				<ul class="p-site__lists">
					<li id="site__no1" class="p-site_list p-site__no1">
						<a class="p-site__link" href="cheesecake/index.html" target=”_blank”>
							<figure class="p-site__image p-site__no1__image"></figure>
							<dl class="p-site__dl">
								<dt class="p-site__title">太陽のチーズケーキ</dt>
								<hr class="p-site__hr">
								<dd class="p-site__detail">
									<p class="p-site__detail__paragraaph">Study record</p>
									<p class="p-site__detail__paragraaph">製作期間：2021/8/7〜2021/8/21（添削2回、修正2回含む）</p>
									<p class="p-site__detail__paragraaph">製作時間：約80時間</p>
									<p class="p-site__detail__paragraaph">使用ツール：Adobe XD（カンプ作成）/Adobe　Photoshop（バナー作成）/VS Code</p>
									<p class="p-site__detail__paragraaph u-mt16">芸術的なデザートを生み出す製作者様のこだわりと商品の魅力が伝わるようなデザインを意識して作成しました。スタイリッシュで高級感あるデザインかつ、商品のメイン材料であるパイナップルの甘酸っぱさが感じられるような配色を心がけました。</p>
									<p class="p-site__detail__paragraaph u-mt16">reference & respect　クロッカンシューザクザク様、ガレー（Galler）公式オンラインショップ様、パティスリー・サダハル・アオキ・パリ様</p>
								</dd>
								<dd class="p-site__button u-mt40">
									<a class="c-button c-button__more" href="cheesecake_more.html">MORE<span>>></span></a>
									<p class="p-site__button__text">企画・製作過程</p>
								</dd>
								<dd class="p-site__button u-mt16">
									<a class="c-button c-button__link" href="cheesecake/index.html" target=”_blank”>LINK<span>>></span></a>
									<p class="p-site__button__text">Webサイトに飛びます</p>
								</dd>
							</dl>
						</a>
					</li>
					<li id="site__no2" class="p-site__list p-site__no2">
						<a class="p-site__link" href="kobayasufarm/1_top.html" target=”_blank”>
							<figure class="p-site__image p-site__no2__image"></figure>
							<dl class="p-site__dl">
								<dt class="p-site__title">こばやす農園</dt>
								<hr class="p-site__hr">
								<dd class="p-site__detail">
									<p class="p-site__detail__paragraaph">Study record</p>
									<p class="p-site__detail__paragraaph">製作期間：2021/8/25〜2021/9/28（添削2回、修正2回含む）</p>
									<p class="p-site__detail__paragraaph">製作時間：約140時間</p>
									<p class="p-site__detail__paragraaph">使用ツール：Adobe XD（カンプ作成）/Adobe　Photoshop（バナー作成）/VS Code</p>
									<p class="p-site__detail__paragraaph u-mt16">こばやす（@kobayas_s）様のnote「Webデザインカンプを1から作るための説明書」の仕様書より作成しました。ターゲット層である子育て夫婦にマッチするよう、シンプルであたたかみのある、かつ遊び心が感じられるデザインを目指しました。</p>
									<p class="p-site__detail__paragraaph u-mt16">reference & respect　サラダクラブ様、山下フルーツ農園様、玉名牧場様、世羅幸水農園様</p>
								</dd>
								<dd class="p-site__button u-mt40">
									<a class="c-button c-button__more">MORE<span>>></span></a>
									<p class="p-site__button__text">企画・製作過程 ※準備中</p>
								</dd>
								<dd class="p-site__button u-mt16">
									<a class="c-button c-button__link" href="kobayasufarm/1_top.html" target=”_blank”>LINK<span>>></span></a>
									<p class="p-site__button__text">Webサイトに飛びます</p>
								</dd>
							</dl>
						</a>
					</li>
					<li id="site__no3" class="p-site__list p-site__no3">
						<a class="p-site__link" href="https://tenshoku.mynavi.jp/jobinfo-297770-1-2-1/msg/" target=”_blank”>
							<figure class="p-site__image p-site__no3__image"></figure>
							<dl class="p-site__dl">
								<dt class="p-site__title">マイナビ転職 01</dt>
								<hr class="p-site__hr">
								<dd class="p-site__detail">
									<p class="p-site__detail__paragraaph">Work</p>
									<p class="p-site__detail__paragraaph">転職情報サイト掲載用デザインです。
										<span>LPと言いつつ一枚絵での制作なため、通常のWEBデザインとは異なったグラフィックデザインの制作案件です。</span></p>
										<p class="p-site__detail__paragraaph u-mt16">製作期間：2022/3/10〜2022/3/14（3営業日）</p>
										<p class="p-site__detail__paragraaph">製作時間：約24時間</p>
										<p class="p-site__detail__paragraaph">使用ツール：Adobe Illustrator</p>
									</dd>
									<dd class="p-site__button u-mt40">
										<a class="c-button c-button__more">MORE<span>>></span></a>
										<p class="p-site__button__text">企画・製作過程 ※準備中</p>
									</dd>
									<dd class="p-site__button u-mt16">
										<a class="c-button c-button__link" href="https://tenshoku.mynavi.jp/jobinfo-297770-1-2-1/msg/" target=”_blank”>LINK<span>>></span></a>
										<p class="p-site__button__text">Webサイトに飛びます <span>※2022/05/26掲載終了予定</span></p>
									</dd>
								</dl>
							</a>
						</li>
						<li id="site__no4" class="p-site__list p-site__no4">
							<a class="p-site__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>
								<figure class="p-site__image p-site__no4__image"></figure>
								<dl class="p-site__dl">
									<dt class="p-site__title">マイナビ転職 02</dt>
									<hr class="p-site__hr">
									<dd class="p-site__detail">
										<p class="p-site__detail__paragraaph">Work</p>
										<p class="p-site__detail__paragraaph">転職情報サイト掲載用デザインです。
											<span>LPと言いつつ一枚絵での制作なため、通常のWEBデザインとは異なったグラフィックデザインの制作案件です。</span></p>
											<p class="p-site__detail__paragraaph u-mt16">製作期間：2022/3/16〜2022/3/22（4営業日）</p>
											<p class="p-site__detail__paragraaph">製作時間：約32時間</p>
											<p class="p-site__detail__paragraaph">使用ツール：Adobe Illustrator</p>
											<p class="p-site__detail__paragraaph u-mt16">工夫点：クライアントの要望・イメージを汲み取って形にしつつ、全体に統一感が出るよう工夫しました。</p>
										</dd>
										<dd class="p-site__button u-mt40">
											<a class="c-button c-button__more">MORE<span>>></span></a>
											<p class="p-site__button__text">企画・製作過程 ※準備中</p>
										</dd>
										<dd class="p-site__button u-mt16">
											<a class="c-button c-button__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>LINK<span>>></span></a>
											<p class="p-site__button__text">Webサイトに飛びます <span>※2022/5/30掲載終了予定</span></p>
										</dd>
									</dl>
								</a>
							</li>
							<li id="site__no5" class="p-site__list p-site__no5">
								<a class="p-site__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>
									<figure class="p-site__image p-site__no5__image"></figure>
									<dl class="p-site__dl">
										<dt class="p-site__title">アウトソーシングサイトLPデザイン</dt>
										<hr class="p-site__hr">
										<dd class="p-site__detail">
											<p class="p-site__detail__paragraaph">Work</p>
											<p class="p-site__detail__paragraaph">社内アウトソーシング部立ち上げに伴い、LPサイトをデザインしました。</p>
											<p class="p-site__detail__paragraaph u-mt16">製作期間：2022/3/24〜2022/3/29（4営業日、その後微調整〜3/31）</p>
											<p class="p-site__detail__paragraaph">製作時間：約32時間</p>
											<p class="p-site__detail__paragraaph">使用ツール：Adobe XD</p>
											<p class="p-site__detail__paragraaph u-mt16">コンセプト：シンプルで洗練された、かつ訴求力のあるデザイン
												<span>双方の両立を目指し、訴求ポイントを強調する装飾をシンプルにしたり、視線誘導を意識しつつ余白や色味を慎重に調整したりと、訴求ポイントの見せ方と全体とで統一感を持たせてバランスをとりました。</span>
											</p>
											<p class="p-site__detail__paragraaph u-mt16">工夫点・成果：デザインの観察力、思考力が鍛えられました。
												<span>単に指示通りに手を動かすのではなく、自身でもクライアントの意図への理解を深め、より効果的なデザインになるようディレクターと相談しながら制作しました。</span>
											</p>
										</dd>
										<dd class="p-site__button u-mt40">
											<a class="c-button c-button__more">MORE<span>>></span></a>
											<p class="p-site__button__text">企画・製作過程 ※準備中</p>
										</dd>
										<dd class="p-site__button u-mt16">
											<a class="c-button c-button__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>LINK<span>>></span></a>
											<p class="p-site__button__text">Webサイトに飛びます <span>※公開後掲載予定</span></p>
										</dd>
									</dl>
								</a>
							</li>
							<li id="site__no6" class="p-site__list p-site__no6">
								<a class="p-site__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>
									<figure class="p-site__image p-site__no6__image"></figure>
									<dl class="p-site__dl">
										<dt class="p-site__title">採用サイト用テンプレートデザイン</dt>
										<hr class="p-site__hr">
										<dd class="p-site__detail">
											<p class="p-site__detail__paragraaph">Work</p>
											<p class="p-site__detail__paragraaph">採用サイトテンプレート販売サービス展開に伴い、15Pのテンプレートデザインを制作しています。</p>
											<p class="p-site__detail__paragraaph u-mt16">製作期間：2022/4/4〜制作中</p>
											<p class="p-site__detail__paragraaph">製作時間：製作中</p>
											<p class="p-site__detail__paragraaph">使用ツール：Adobe Photoshop</p>
											<p class="p-site__detail__paragraaph u-mt16">コンセプト：使い勝手の良いデザイン
												<span>同じテンプレートを複数社が使用することを想定し、写真や色味の変更によって柔軟にイメージを変えられる、使い勝手の良いデザインになるよう工夫しました。</span></p>
												<p class="p-site__detail__paragraaph u-mt16">工夫点・成果：制作速度アップ
													<span>今まで制作してきた中で最も大きいボリュームのサイトであったため、スケジュールに間に合うよう、スピード感を意識して作業しました。どうすればスピードアップできるのかネットで調べ（参考デザインの収集の仕方の工夫、パーツの作り置き、ショートカットキーの暗記・使用など）、実行した結果、制作速度が上がりました。</span>
												</dd>
												<dd class="p-site__button u-mt40">
													<a class="c-button c-button__more">MORE<span>>></span></a>
													<p class="p-site__button__text">企画・製作過程 ※準備中</p>
												</dd>
												<dd class="p-site__button u-mt16">
													<a class="c-button c-button__link" href="https://tenshoku.mynavi.jp/jobinfo-202461-1-1-1/msg/" target=”_blank”>LINK<span>>></span></a>
													<p class="p-site__button__text">Webサイトに飛びます <span>※公開後掲載予定</span></p>
												</dd>
											</dl>
										</a>
									</li>
								</ul>
								<hr class="c-separation hr">
							</section>
							
							<section id="profile-summary" class="p-profile-summary">
								<div class="c-heading">
									<h2 class="c-heading__title">Profile</h2>
								</div>
								<div class="p-profile-summary__content">
									<figure class="p-profile-summary__image"></figure>
									<div class="p-profile-summary__lists__wrap">
										<ul class="p-profile-summary__lists">
											<li class="p-profile-summary__list p-profile__name">
												<h3 class="p-profile-summary__h3">Akahohsi Ayane</h3>
												<a class="p-profile-summary__icon" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="p-profile__icon__image twitter"></figure></a>
												<a class="p-profile-summary__icon" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="p-profile__icon__image insta"></figure></a>
											</li>
											<li class="p-profile-summary__list">
												<p class="p-profile-summary__text"><span>初めまして！</span><span>WEBデザイン勉強中の赤星と申します。教育系大学院で臨床心理学専攻を修了後、養護教諭として小学校に勤務しておりました。夫の転勤を機に小学校を退職し、かねてから興味のあったWEBデザイナーを目指して2021.5月〜勉強中です。</span></p>
											</li>
											<li class="p-profile-summary__list p-profile__link">
												<a class="c-button c-button__more" href="profile.html">MORE<span>>></span></a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</main>		
						<p class="portfolio_reference">※ reference & respect　kinfolk様、aesthetist様、canvaswear様</p>
						
						<footer id="footer" class="l-footer">
							<hr class="l-footer__hr hr">
							<p class="l-footer__text">©︎Akahosi Ayane all rights reserved.</p>
						</footer>
	
	<!-- Java -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/app.js"></script>
	</body>
</html>