<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio-Akahoshi Ayane</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/style/app.css">
	<link rel="stylesheet" href="https://use.typekit.net/cir3xek.css">
	
	<!-- Java -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	
	<!-- font -->
	<script>
		(function(d) {
			var config = {
				kitId: 'fpb7ebr',
				scriptTimeout: 3000,
				async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})(document);
	</script>
	
	<!-- OGP -->
	<meta property="og:url" content="https://www.hoshiportfolio.jp"/>
	<meta property="og:type" content="webp-site"/>
	<meta property="og:title" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:description" content="赤星彩音のポートフォリオ"/>
	<meta property="og:p-site_name" content="Portfolio-Akahoshi Ayane"/>
	<meta property="og:image" content="https://www.hoshiportfolio.jp/img/portfolio.png"/>
	
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:p-site" content="@58Orionis_11"/>
	
</head>

<body id="profile" class="profile">
	<header id="header" class="l-header">
		<div class="l-header__inner">
			<h1 class="l-header__title">
				<a class="l-header__title__link" href="index.html">
					<figure id="logo" class="l-header__title__logo1"></figure>
					<figure id="logo2" class="l-header__title__logo2"></figure>
				</a>
			</h1>
			<nav class="l-nav">
				<a class="l-nav__link" href="index.html#products">Products</a>
				<a class="l-nav__link" href="profile.html">Profile</a>
				<a class="l-nav__link c-icon twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
				<a class="l-nav__link c-icon insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure></a>
			</nav>
		</div>
		<hr class="l-header__hr c-hr">
	</header>
	
	<!-- ここから sp　nav -->
	<figure class="l-spbutton">
		<span></span>
		<span></span>
		<span></span>
	</figure>
	
	<nav class="l-spnav">
		<a class="l-spnav__link" href="index.html">Top</a>
		<a class="l-spnav__link" href="index.html#products">Products</a>
		<a class="l-spnav__link" href="profile.html">Profile</a>
		<a class="l-spnav__link twitter" href="https://twitter.com/58Orionis_11" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure>Twitter</p></a>
		<a class="l-spnav__link insta" href="https://www.instagram.com/hoshi.711_design" target="_blank" rel="noopener noreferrer"><figure class="c-icon__image"></figure><p>Instagram</p></a>
	</nav>
	<!-- sp　nav 終わり-->
	
	<main class="l-main">
		<section id="career" class="p-career">
			<div class="c-heading">
				<h2 class="c-heading__title">Career<span class="c-heading__title__subtitle">経歴</span></h2>
			</div>
			
			<ul class="p-career__lists">
				<li class="p-career__list">
					<time class="p-career__time">2018. 3</time>
					<dl class="p-career__dl">
						<dt class="p-career__title">国立教育系大学院（臨床心理学専攻）　修了</dt>
						<dd class="p-career__text">カウンセリングのできる養護教諭（保健室の先生）を目指し、臨床心理学を学ぶ。在学中は教師のメンタルヘルスについての研究、子育て中の母親とのカウンセリングに従事。子どもだけでなく保護者・教師等、学校全体のメンタルケアが可能な保健室経営を目指す。</dd>
					</dl>
				</li>
				<li class="p-career__list">
					<time class="p-career__time">2018. 4</time>
					<dl class="p-career__dl">
						<dt class="p-career__title">養護教諭として新潟の小学校に勤務</dt>
						<dd class="p-career__text">養護教諭としての業務の他、子どもの成長のために、教職員の心身の健康や、教職員間の良好な関係の維持は必要不可欠であるという考えから、教職員が心地よく仕事ができる職場環境の整備・調整のため奔走。</dd>
					</dl>
				</li>
				<li class="p-career__list">
					<time class="p-career__time">2021. 3</time>
					<dl class="p-career__dl">
						<dt class="p-career__title">退職</dt>
						<dd class="p-career__text">
							<span>夫の東京転勤に帯同するため、小学校を年度末で退職。</span>
						</dd>
					</dl>
					<li class="p-career__list">
						<time class="p-career__time">2021. 5</time>
						<dl class="p-career__dl">
							<dt class="p-career__title">Webデザインの学習開始</dt>
							<dd class="p-career__text">
								<span>自身の結婚式のペーパーアイテムを自作した際に、デザインの楽しさに目覚める。</span>
								<span>テレビ番組「のぞき見ドキュメント　100カメ」でWebデザイナーの仕事に興味をもち、転職を目指して学習開始。</span>
								<span>学習内容</span>
								<span>・メンターサービスを利用した学習</span>
								<span>（バナー制作、コーディング課題、架空サイト制作、バナーのリデザインなど）</span>
								<span>・セミナー／ワークショップ／コミュニティへの参加</span>
								<span>（デイトラ様、マイナビワークス様主催のセミナー、クリエイターシナジーカフェ（クリエイター系コミュニティ）への参加）</span>
							</dd>
						</dl>
					</li>
				</li>
				<li class="p-career__list">
					<time class="p-career__time">2022. 2</time>
					<dl class="p-career__dl">
						<dt class="p-career__title">現在の勤め先に入社</dt>
						<dd class="p-career__text"><span>育成枠のWebデザイナーとして入社。</span><span>Illustratorを使用した求人広告のデザインや、XDを使用したLPデザインをさせていただいております。</span></dd>
					</dl>
				</li>
			</ul>
			
			<div class="p-career__image">
				<figure class="p-career__image__image1"></figure>
				<figure class="p-career__image__image2"></figure>
			</div>
			
			<hr class="c-separation hr">
		</section>
		
		<section id="skill" class="p-skill">
			<div class="c-heading">
				<h2 class="c-heading__title">Skill<span class="c-heading__title__subtitle">学んできたこと</span></h2>
			</div>
			
			<ul class="p-skill-designer__lists">
				<li class="p-skill-designer__list">
					<dl class="p-skill-designer__dl">
						<dt class="p-skill-designer__category">Design : </dt>
						<dd class="p-skill-designer__contents">Illustorater Photoshop</dd>
					</dl>
				</li>
				<li class="p-skill-designer__list">
					<dl class="p-skill-designer__dl">
						<dt class="p-skill-designer__category">Cording : </dt>
						<dd class="p-skill-designer__contents">HTML/ejs/CSS（FLOCSS設計）/SCSS/Jquery</dd>
					</dl>
				</li>
			</ul>
			
			<ul class="p-skill-apply__lists">
				<li class="p-skill-apply__list">
					<dl class="p-skill-apply__dl">
						<dt class="p-skill-apply__title">努力</dt>
						<dd class="p-skill-apply__text"><span>約10年間、心理学一筋で勉強を続けてきました。就職後は終業後に毎日勉強して国家資格も取りました。</span><span>デザインの学習を始めて、心理学よりも楽しい勉強が存在していたことに驚きました。どのような仕事でもスキルアップのための学習は大切だと思いますが、学習そのものを楽しめるという点から、デザイナーは自分の適職ではないかと考えています。</span></dd>
					</dl>
				</li>
				<li class="p-skill-apply__list">
					<dl class="p-skill-apply__dl">
						<dt class="p-skill-apply__title">調整力</dt>
						<dd class="p-skill-apply__text"><span>前職で培った調整力、異なる立場の意見をまとめながらプロジェクトを進めたり、人と人の間に立ち関係を取り持ったりといった経験は、さまざまな人が一つのサイト制作に関わるWeb制作の業界においても、役立つと考えています。</span><span>カウンセリングの経験から、周囲の人が気持ちよく仕事ができる環境の維持に努めます。</span></dd>
					</dl>
				</li>
				<li class="p-skill-apply__list">
					<dl class="p-skill-apply__dl">
						<dt class="p-skill-apply__title">妥協しない</dt>
						<dd class="p-skill-apply__text"><span>細部にまで拘りたくなる性格です。訴求力のあるデザインを追求し、拘りを持ってデザイン製作に向き合っています。</span><span>しかし拘るあまり工数が増えてしまうと、かえってクライアントの不利益につながりかねないということを学び、自己満足に過ぎない拘りは省くなど、効率的に仕事をこなしていくことも意識しています。</span></dd>
					</dl>
				</li>
			</ul>
		</section>
	</main>
	
	<footer id="footer" class="l-footer">
		<hr class="l-footer__hr hr">
		<p class="l-footer__text">©︎Akahosi Ayane all rights reserved.</p>
	</footer>

<script src="/assets/js/app.js"></script>
</body>
</html>